body {
background: #0b1522;
overflow: hidden;
}

.corazon {
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom:  -5px;
    
}

.contenedor{
margin:0;
padding: 0;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: #0b1522;

}
.heart {
   height: 150px;
   width: 150px;
   background: red;
   position: relative;
   transform: rotate(45deg);
   box-shadow: -20px 20px 150px #f20044;
   animation: palpitar 0.5s linear infinite alternate;
   -webkit-animation: palpitar 0.5s linear infinite alternate;
}
.contenido {
    position: fixed;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #0b1522;
    
}

@keyframes palpitar {
    0%{ transform: rotate(45deg) scale(1.10);}
    80%{ transform: rotate(45deg) scale(1.0);}
    100%{ transform:rotate(45deg) scale(0.8); -webkit-transform:rotate(45deg) scale(0.8); -moz-transform:rotate(45deg) scale(0.8); -ms-transform:rotate(45deg) scale(0.8); -o-transform:rotate(45deg) scale(0.8); }
}   

.heart::before{
    content:"";
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: red;
    right: 50%;
    border-radius: 50%;
    box-shadow: 20px 20px 150px #f20044;
   
}

.heart::after{
    content:"";
    position: absolute;
    height: 150px;
    width: 150px;
    background:red;
    top: -50%;
    border-radius: 50%;
    box-shadow: 20px 20px 150px #f20044;
   
}